---
import "../styles/Profile.css"
---

<div class="relative text-white h-screen flex justify-around gap-84 bg-[url('/img/arbol.jpg')] bg-cover bg-center">

    <!-- Gradiente de transición hacia el fondo de la siguiente sección -->
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-gray-900"></div>

    <div class="relative mt-64 ml-4 md:ml-0">
        <h1 class="text-7xl font-bold mb-6">Sergio Navarro</h1>
        <h2 class="text-4xl">Full Stack Developer</h2>
        <p class="text-2xl mt-4">IA y Big Data</p>
    </div>

    <div></div>
</div>

<!-- Sección inferior con el mismo color del gradiente -->
<div class="p-10 bg-gray-900 text-white">
    <div class="container mx-auto text-center">
        <section>
            <img src="/img/perfil.jpg" class="mx-auto rounded-xl shadow-xl"/>
            <h1 class="text-2xl mt-12">Hola, mi nombre es Sergio (21 años), encantado de conocerte.</h1>
            <h1 class="text-2xl">Soy un desarrollador Full Stack con experiencia en desarrollo de IA y manejo del Big Data.</h1>
            <h1 class="text-2xl">He trabajado mucho en desarrollo front-end y en la fabricación de cuadros de mando en PowerBI.</h1>
            <br>
            <h1 class="text-2xl">Algunas de mis capacidades como desarrollador:</h1>
        </section>

        <section class="mt-22">
            <div>
                <div class="flex-parent">
                    <div>JavaScipt</div>
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                        <div class="bg-blue-600 h-2.5 rounded-full" style="width: 45%"></div>
                    </div>
                </div>

                <div class="flex-parent">
                    <div>Python</div>
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                        <div class="bg-blue-600 h-2.5 rounded-full" style="width: 70%"></div>
                    </div>
                </div>

                <div class="flex-parent">
                    <div>Tailwind</div>
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                        <div class="bg-blue-600 h-2.5 rounded-full" style="width: 60%"></div>
                    </div>
                </div>

                <div class="flex-parent">
                    <div>Astro</div>
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                        <div class="bg-blue-600 h-2.5 rounded-full" style="width: 50%"></div>
                    </div>
                </div>

                <div class="flex-parent">
                    <div>Django</div>
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                        <div class="bg-blue-600 h-2.5 rounded-full" style="width: 50%"></div>
                    </div>
                </div>

                <div class="flex-parent">
                    <div>HTML</div>
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                        <div class="bg-blue-600 h-2.5 rounded-full" style="width: 70%"></div>
                    </div>
                </div>

                <div class="flex-parent">
                    <div>CSS</div>
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                        <div class="bg-blue-600 h-2.5 rounded-full" style="width: 60%"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
