---
import "../styles/Profile.css"
import CapacityComponent from "./CapacityComponent.astro"
---

<div class="relative text-white h-screen flex justify-around gap-84 bg-[url('/img/arbol.jpg')] bg-cover bg-center">

    <!-- Gradiente de transición hacia el fondo de la siguiente sección -->
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-gray-900"></div>

    <div class="relative mt-64 ml-4 md:ml-0">
        <h1 class="text-7xl font-bold mb-6">Sergio Navarro</h1>
        <h2 class="text-4xl">Full Stack Developer</h2>
        <p class="text-2xl mt-4">IA y Big Data</p>
    </div>

    <div></div>
</div>

<!-- Sección inferior con el mismo color del gradiente -->
<div class="p-10 bg-gray-900 text-white">
    <div class="container mx-auto">
        <section class="mb-24">
            <div class="mx-auto flex flex-col gap-8 mb-12 max-w-4xl">
                <div class="flex flex-col lg:flex-row gap-8 max-w-210">
                    <img src="/img/perfil.jpg" class="rounded-xl shadow-xl w-48 h-48 lg:w-64 lg:h-64" />
                    
                    <h1 class=" lg:block text-xl mt-4">
                        <p>
                            Hola, mi nombre es <b class="text-blue-600">Sergio</b> (21 años), encantado de conocerte. 
                            Soy un desarrollador <b class="text-blue-600">Full-Stack</b> con experiencia en  
                            <b class="text-blue-600">desarrollo de IA</b> y <b class="text-blue-600">manejo del Big Data</b>
                            He trabajado mucho en desarrollo front-end y en la fabricación de cuadros de mando en PowerBI.
                        </p>
                    </h1>
                </div>

                <div class="mb-12">
                    <button
                        id="download-button"
                        type="button"
                        class="p-2 bg-slate-800 text-gray-400 rounded-lg transition-all duration-200 ease-in-out hover:bg-slate-900 hover:cursor-pointer active:scale-95 focus:outline-none focus:ring focus:ring-slate-700"
                    ><a href="/pdf/Europass_Sergio_Navarro_CV.pdf" download="Europass_Sergio_Navarro_CV.pdf">Descargar CV</a></button>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                    <!-- Educación -->
                    <div class="mb-12">
                        <h1 class="title">Educación:</h1>
                        <ul class="list-none">
                            <li class="title-2">Curso de especialización en IA y Big Data <br> 
                                <p class="subtitle">IES Punta del Verde (2024-2025)</p>
                            </li>
                            <li class="title-2">Grado Superior en Desarrollo de aplicaciones Web <br> 
                                <p class="subtitle">IES Martínez Montañés (2022-2024)</p>
                            </li>
                            <li class="title-2">Bachillerato de ciencias tecnológico <br> 
                                <p class="subtitle">IES Chaves Nogales (2020-2022)</p>
                            </li>
                        </ul>
                    </div>

                    <!-- Idiomas -->
                    <div class="mb-12">
                        <h1 class="title">Idiomas:</h1>
                        <ul class="list-none">
                            <li class="title-2">Español <br> 
                                <p class="subtitle">Nativo</p>
                            </li>
                            <li class="title-2">Inglés <br> 
                                <p class="subtitle">Nivel medio B2 (Certificado Cambridge)</p>
                            </li>
                        </ul>
                    </div>

                    <!-- Experiencia laboral -->
                    <div class="mb-12">
                        <h1 class="title">Experiencia laboral:</h1>
                        <ul class="list-none">
                            <li class="title-2">Desarrollador Full Stack <br> 
                                <p class="subtitle">Proxya (Abril 2024 - Junio 2024)</p>
                            </li>
                        </ul>
                    </div>

                    <!-- Formación complementaria -->
                    <div class="mb-12">
                        <h1 class="title">Formación complementaria:</h1>
                        <ul class="list-none">
                            <li class="title-2">Curso de Python3 <br> 
                                <p class="subtitle">OpenWebinars</p>
                            </li>
                            <li class="title-2">Curso de PowerBI <br> 
                                <p class="subtitle">Udemy</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        
        <h1 class="text-2xl text-center">Algunas de mis capacidades como desarrollador:</h1>
        <!-- <hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded-sm md:my-10 dark:bg-gray-700"> -->

        <section class="mt-24 mb-24">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
                <!-- Primera fila: Languages y Frameworks -->
                <div id="Languages" class="mt-8">
                    <h1 class="text-3xl">Lenguajes</h1>
                    <CapacityComponent title="HTML" width={100} />
                    <CapacityComponent title="CSS" width={100} />
                    <CapacityComponent title="Python" width={80} />
                    <CapacityComponent title="JavaScript" width={70} />
                    <CapacityComponent title="R" width={60} />
                </div>

                <div id="Frameworks" class="mt-8">
                    <h1 class="text-3xl">Frameworks</h1>
                    <CapacityComponent title="Astro" width={70} />
                    <CapacityComponent title="Django" width={80} />
                    <CapacityComponent title="Bootstrap" width={65} />
                    <CapacityComponent title="Tailwind" width={60} />
                    <CapacityComponent title="Flask" width={50} />
                    <CapacityComponent title="React [learning...]" width={25} />
                </div>

                <!-- Segunda fila: BBDD y Big Data -->
                <div id="BBDD" class="mt-8">
                    <h1 class="text-3xl">BBDD</h1>
                    <CapacityComponent title="MySQL" width={65} />
                    <CapacityComponent title="MongoDB" width={60} />
                </div>

                <div id="Big Data" class="mt-8">
                    <h1 class="text-3xl">Big Data</h1>
                    <CapacityComponent title="Power BI" width={70} />
                    <CapacityComponent title="HDFS" width={65} />
                    <CapacityComponent title="Hadoop" width={60} />
                    <CapacityComponent title="ELK" width={45} />
                    <CapacityComponent title="Spark" width={50} />
                    <CapacityComponent title="Cloudera" width={55} />
                    <CapacityComponent title="Airflow" width={50} />
                </div>

                <!-- Tercera fila: IA -->
                <div id="IA" class="mt-8">
                    <h1 class="text-3xl">IA</h1>
                    <CapacityComponent title="Redes neuronales" width={50} />
                    <CapacityComponent title="Regresión lineal" width={40} />
                    <CapacityComponent title="Regresión logística" width={40} />
                    <CapacityComponent title="MCP" width={30} />
                </div>
            </div>
        </section>
    </div>
</div>
