---
import "../styles/Profile.css"
import CapacityComponent from "./CapacityComponent.astro"
---

<div class="relative text-white h-screen flex justify-around gap-84 bg-[url('/img/arbol.jpg')] bg-cover bg-center">

    <!-- Gradiente de transición hacia el fondo de la siguiente sección -->
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-gray-900"></div>

    <div class="relative mt-64 ml-4 md:ml-0">
        <h1 class="text-7xl font-bold mb-6">Sergio Navarro</h1>
        <h2 class="text-4xl">Full Stack Developer</h2>
        <p class="text-2xl mt-4">IA y Big Data</p>
    </div>

    <div></div>
</div>

<!-- Sección inferior con el mismo color del gradiente -->
<div class="p-10 bg-gray-900 text-white">
    <div class="container mx-auto">
        <section class="text-center">
            <img src="/img/perfil.jpg" class="mx-auto rounded-xl shadow-xl"/>
            <h1 class="text-2xl mt-12">Hola, mi nombre es Sergio (21 años), encantado de conocerte.</h1>
            <h1 class="text-2xl">Soy un desarrollador Full Stack con experiencia en desarrollo de IA y manejo del Big Data.</h1>
            <h1 class="text-2xl">He trabajado mucho en desarrollo front-end y en la fabricación de cuadros de mando en PowerBI.</h1>
            <br>
            <h1 class="text-2xl">Algunas de mis capacidades como desarrollador:</h1>
        </section>

        <section class="mt-32">
            <div class="flex flex-wrap gap-8">
                <!-- Primera fila: Languages y Frameworks -->
                <div class="flex w-full gap-16">
                    <div id="Languages" class="mt-8 basis-1/2">
                        <h1 class="text-3xl">Lenguajes</h1>

                        <CapacityComponent title="HTML" width={100} />
                        <CapacityComponent title="CSS" width={100} />
                        <CapacityComponent title="Python" width={80} />
                        <CapacityComponent title="JavaScript" width={70} />
                        <CapacityComponent title="R" width={60} />
                    </div>
        
                    <div id="Frameworks" class="mt-8 basis-1/2">
                        <h1 class="text-3xl">Frameworks</h1>

                        <CapacityComponent title="Astro" width={70} />
                        <CapacityComponent title="Django" width={80} />  
                        <CapacityComponent title="Bootstrap" width={65} />
                        <CapacityComponent title="Tailwind" width={60} />
                        <CapacityComponent title="Flask" width={50} />
                        <CapacityComponent title="React [learning...]" width={25} />
                    </div>
                </div>
        
                <!-- Segunda fila: BBDD y Big Data -->
                <div class="flex w-full gap-16">
                    <div id="BBDD" class="mt-8 basis-1/2">
                        <h1 class="text-3xl">BBDD</h1>

                        <CapacityComponent title="MySQL" width={65} />
                        <CapacityComponent title="MongoDB" width={60} />
                    </div>
        
                    <div id="Big Data" class="mt-8 basis-1/2">
                        <h1 class="text-3xl">Big Data</h1>

                        <CapacityComponent title="HDFS" width={70} />
                        <CapacityComponent title="Hadoop" width={60} />
                        <CapacityComponent title="Spark" width={50} />
                    </div>
                </div>
        
                <!-- Tercera fila: IA -->
                <div class="flex w-full gap-16">
                    <div id="IA" class="mt-8 basis-1/2">
                        <h1 class="text-3xl">IA</h1>

                        <CapacityComponent title="Redes neuronales" width={50} />
                        <CapacityComponent title="Regresión lineal" width={40} />
                        <CapacityComponent title="Regresión logística" width={40} />
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
