---
import "../styles/global.css";
import '@fontsource/bebas-neue';

const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="en" class="scroll-smooth bg-gray-900">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sergio Navarro</title>
    </head>
    <body>
        <div class="fixed top-0 w-full z-50 text-sm font-medium text-center text-gray-200">
            <ul class="flex flex-wrap -mb-px">
                <li class="me-2">
                    <a href="/" class={`inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 ${currentPath === '/' ? 'text-gray-600 border-gray-500' : 'border-transparent'}`}>
                        Inicio
                    </a>
                </li>
                <li class="me-2">
                    <a href="/projects" class={`inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 ${currentPath === '/projects' ? 'text-gray-600 border-gray-500' : 'border-transparent'}`}>
                        Proyectos
                    </a>
                </li>
                <li class="me-2">
                    <a href="/contact" class={`inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 ${currentPath === '/contact' ? 'text-gray-600 border-gray-500' : 'border-transparent'}`}>
                        Contacto
                    </a>
                </li>
            </ul>
        </div>

        <slot />

        <footer class="mb-4 text-white">
            <div>
                <p>&copy; 2025 Sergio Navarro Jarana. Todos los derechos reservados.</p>
            </div>
            <div>
                <a href="https://www.linkedin.com/in/sergio-navarro-jarana-b16986297/?originalSubdomain=es" class="linkedin text-light mx-2">LinkedIn</a>
                <a href="https://github.com/sergionj31" class="github text-light mx-2">GitHub</a>
            </div>
        </footer>
    </body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		overflow-x: hidden; /* Elimina el scroll horizontal */
	}

	html {
		font-family: system-ui, sans-serif;
		/* color: #13151a; */
	}

	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;  /* Asegura que el texto esté centrado */
	}
</style>
